.BackGroundImg{width: 50%; }
.home-h3{margin-top: 30px;}
.iphone-margin{margin-top: -30px;}
.btn-iPhone{ width: 250px; height: 40px; background-color: rgb(157, 154, 154); border-radius: 20px;}
.Background-img2{width: 100%;}
